@keyframes slideShow{
    from{
        transform:translateX(-145%);
    }
    to{
        transform:translateX(-0.5%);
    }
}

.traintrack{
    width:100%;
    display:block;
    overflow-x:hidden;
    padding-top:1%;
    background:black;
    color:white;
}

.gitCalendar{
    margin-bottom: 3vh;
    display:flex;
    justify-content:center;
}


@media(orientation:portrait){
    .traintrack{
        position:fixed;
        bottom:0;
    }
    .gitCalendar{
        margin: 10vh 9vw 20vh 5vw;
    }
}

.traintrack:hover{
    transition:0.2s;
    color:cyan;
}

.traintrack ul{
    display:flex;
    list-style:none;
    align-items:center;
    justify-content:flex-start;
    animation:15s slideShow infinite linear;
}

.skillItem{
    font-size:3rem;
    margin-left:5vw;
    margin-right:5vw;
    display:inline-block;
}


