.about{
    margin:5%;
    border-radius:1%;
    display:flex;
    align-items:center;
    border:0.25vw solid white;
    transform:translateY(100%);
    opacity:0;
    transition: 0.5s ease;
    box-shadow:0px 0px 0.5vw 1vw slategray;
    aspect-ratio: 8 / 1;
}
.about.firstTime{
    opacity:1;
    transform:translateY(0);
}
.about:hover{
    cursor:pointer;
    transform:scale(1.05);
    box-shadow:0px 0px 0.5vw 1vw cyan;
    transition:0.2s;
}
.about.mobileAbout:hover{
    box-shadow:0px 0px 1.2vw 1.4vw turquoise;
    border-color:green;
}

.uniLogo{
    width:10vw;
    aspect-ratio: 1/1;
    float:left;
    margin:5%;

    @media(orientation:portrait){
        width:auto;
        height:15vh;
        aspect-ratio: 7/8;
    }
}

.myText{
    font-family:Poppins;
    font-size:1.2rem;
    color:black;
    text-align:justify;
    margin-right:3%;    

}
.aboutDesc{
    margin-left:5%;
}

.change{
    color:black;
}