.contactDiv{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:25vw;
    aspect-ratio:16 / 10;
    margin:5%;
    margin-left:20%;
    border-style:solid;
    border-width:4%;
    border-color:white;
    box-shadow:0px 0px 0.3vw 0.7vw slategray;
    border-radius: 10%/15%;
    transition:0.3s;
    position:relative;
    transform:translateY(40%);
    opacity:0;
    transition: 0.5s ease;
    overflow:hidden;

    @media(orientation:portrait){
        width:70%;
        min-height: 22vh;
        aspect-ratio:3/2;
        align-self:center;
        margin-left:auto;
        margin-right:auto;
        box-shadow:0px 0px 1vw 2vw slategray;
    }
}
.contactDiv.firstTime{
    opacity:1;
    transform:translateY(0);
}

@keyframes cardAnimation{
    0%{
        transform:scale(1.1);
    }
    20%{
        transform:scale(1.1);
        transform:scaleX(-1);
    }
    50%{
        transform:scaleX(-1);
        transform:translateY(180deg);
        transform:scale(1.1);
    }
    100%{
        transform:scaleX(-1);
        transform:translateY(180deg);
        transform:scale(1.1);
    }
}

.contactDiv.clicked{
    animation: cardAnimation 1s forwards;
}

.platLogo{
    color:black;
    transform:scale(3);
    margin-left:7%;
    margin-right:5%;
    margin-top:7%;
    @media(orientation:portrait){
        transform:scale(4);
    }
}

.contactText{
    font-family:Poppins;
    font-size:1.1rem;
    color:black;
    text-align:justify;
    margin-right:3%;
    margin-left:3%;

    @media(orientation:portrait){
        font-size:1.5rem;
    }
}

.platHeading{
    font-family:Poppins;
    font-weight:bold;
    font-size:2rem;
    color:black;
    text-align:center;
    width:100%;
    flex-basis:0;
    flex-grow:1;
    @media(orientation:portrait){
        font-size:2.5rem;
    }
}

.innerContact{
    flex-basis:0;
    flex-grow:8;
    display:flex;
    align-items:flex-start;
    margin-top:5%;
}
.platLink{
    border-radius:30%/100%;
    font-family:Poppins;
    background:black;
    color:white;
    text-align:center;
    vertical-align:center;
    border: 0.2vw solid white;
    margin-left:5%;
    vertical-align:Center;
    position:absolute;
    bottom:5%;
    right:5%;
    font-size:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:2%;
    padding-right:2%;
}

.linkPlatform{
    margin-left:7%;
}
.platLink:hover{
    cursor:pointer;
    background:white;
    color:black;
    border-color:black;
    transition:0.2s ease-in;
}
.linkArrow{
    color:slategrey;
    margin-left:3%;
    margin-right:2%;
    margin-top:4%;
    position:relative;
    top:5%;
}

