.container{
    display:flex;
    align-items:center;
    font-weight:bold;
    font-family:'Poppins';
    transition:0.4s;
    opacity:0;
    transform:translateY(50%);
    @media(orientation:portrait){
        margin-top:22%;
    }
}

.container.homeLoad{
    opacity:1;
    transform:translateY(0);
}


.link {
    text-decoration:none;
    margin-left:5%;
    margin-top:5%;
    color:black;
    font-size:4.3rem;
    @media(orientation:portrait){
        font-size:5.2rem;
        margin-top:0%;
    }
}
.MainItem{
    color:slategrey;
}
.welcome{
    font-size:1rem;
}