.container{
    display:flex;
    width:100%;
    align-items:center;
    font-weight:bold;
    font-family:'Poppins';
    transition:0.4s;
    opacity:0;
    transform:translateY(50%);
    @media(orientation:portrait){
        margin-top:22%;
    }
}

.container.homeLoad{
    opacity:1;
    transform:translateY(0);
}


.link {
    text-decoration:none;
    margin-left:5%;
    margin-top:5%;
    color:black;
    font-size:4.3rem;
    @media(orientation:portrait){
        font-size:5.2rem;
        margin-top:0%;
    }
}
.MainItem{
    color:slategrey;
}
.homeChange{
    color:rgb(34, 70, 34);
}
.welcome{
    font-size:1rem;
}

.wrapper{
    display:inline-flex;
}

.wrapper li{
    list-style:none;
}

.dynamic-Text{
    margin-top:1%;
    line-height:6.13rem;
    overflow:hidden;
    height:5.9rem;
}

@keyframes slide{
    100%{
        top:-19rem;
    }
}

.dynamic-Text li{
    position:relative;
    top:0;
    animation: slide 9s steps(3) infinite;
}

.dynamic-Text li span{
    position:relative;
    background:black;
    color:white;
}

@keyframes typing{
    50%{
        left:100%;
        width:0%;
    }
    60%{
        left:100%;
        width:0%;
    }
    90%{
        left:0%;
        width:100%;
    }
    100%{
        left:0%;
        width:100%;
    }
}

.dynamic-Text li span::after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    border-left:2px solid white;
    left:0;
    animation: typing 3s steps(14) infinite;
    background:black;
}

@media(orientation:portrait){
    @keyframes slide{
        100%{
            top:-12rem;
        }
    }
    .dynamic-Text li{
        position:relative;
        top:0;
        animation: slide 6s steps(2) infinite;
    }
    .dynamic-Text{
        margin-top:2%;
        line-height:6.13rem;
        overflow:hidden;
        height:5.5rem;
    }
}

.spanHover{
    color:cyan;
}