.Navigation{
    width:100%;
    height:11vh;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    overflow:hidden;
    position:sticky;
    top: 0;
    z-index:1;
    opacity:1;
}

.Navigation ul{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    list-style:none;
    width:100%;
}
.Navbaritem{
    flex-basis:0;
    flex-grow:1;
    text-align:center;
    line-height:11vh;
    background:rgba(0,0,0,0.8);
}
.item{
    display:block;
    text-decoration:none;
    color:white;
    font-family: 'Roboto Mono',monospace;
    font-size:1.1rem;
    transition:0.5s;
    overflow:auto;
}
.logoitem{
    flex-basis:0;
    flex-grow:3;
}
.logo {
    max-height:100%;
    max-width:18%;
}

.active{
    border-bottom:1vh solid whitesmoke;
    transition:0.1s;
    line-height:10vh;
}
