.Navigation{
    width:100%;
    height:11vh;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    overflow:hidden;
    position:sticky;
    top: 0;
    z-index:1;
    opacity:1;
}

.Navigation ul{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    list-style:none;
    width:100%;
}
.Navbaritem{
    flex-basis:0;
    flex-grow:1;
    text-align:center;
    background:rgba(0,0,0,0.8);
    position:relative;
    height:11vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.item{
    display:block;
    text-decoration:none;
    color:white;
    font-family: 'Roboto Mono',monospace;
    font-size:1.1rem;
    transition:0.5s;
    overflow:hidden;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.item:hover{
    transition:ease-in-out 0.1s;
    background:linear-gradient(to top,white,rgb(105, 158, 169),white);
    color:black;
}

.logoitemLink{
    display:block;
    text-decoration:none;
    color:white;
    font-family: 'Roboto Mono',monospace;
    font-size:1.1rem;
    transition:0.5s;
    overflow:hidden;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
}
.logoitem{
    flex-basis:0;
    flex-grow:3;
}
.logo {
    max-height:100%;
    max-width:18%;

    @media(orientation:portrait){
        max-width:20vw;
        aspect-ratio: 1/1;
    }
}

.active{
    border-bottom:1vh solid whitesmoke;
    transition:0.1s;
    line-height:10vh;
}

.navIcon{
    margin-right:0;
}
