.Navigation{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    border:none;
    overflow:hidden;
    position:sticky;
    top: 0;
    z-index:1;
    opacity:1;
}
.Navigation.shad{
    box-shadow:0px 0px 0.2vw 0.5vw slategray;
    background-color:rgba(153, 191, 196,0.8);
}
.Navigation.mobileNav{
    position:fixed;
    height:65vh;
    background:rgba(0,0,0,0.87);
}

.list1{
    flex-basis:0;
    flex-grow:4;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    list-style:none;
}
.list1.mobileNav{
    display:none;
}

.list2{
    align-self:stretch;
    flex-basis:0;
    flex-grow:6;
    display:flex;
    align-items:stretch;
    justify-content:center;
    background:rgba(0,0,0,0.8);
}
.Navbaritem{
    flex-basis:0;
    flex-grow:1;
    text-align:center;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}
.item{

    text-decoration:none;
    color:white;
    font-family: 'Roboto Mono',monospace;
    font-size:1.1rem;
    transition:0.5s;
    overflow:hidden;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}

.item:hover{
    background:white;
    color:black;
}

.logoitemLink{
    display:block;
    text-decoration:none;
    color:white;
    font-family: 'Roboto Mono',monospace;
    font-size:1.1rem;
    transition:0.5s;
    overflow:hidden;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
}


.logoitem{
    flex-basis:0;
    flex-grow:3;
    max-height:100%;
}

.logoFit{
    display:block;
    height:10vh;
    margin-left:3%;
}
.logo {
    max-height:100%;
    object-fit:scale-down;
    transform:scale(1.5);
}

.active{
    border-bottom:1vh solid whitesmoke;
    transition:0.1s;
}

.navIcon{
    font-size:1.5rem;
}

.navText{
    font-size:1rem;
}

.hammerDown{
    position:absolute;
    top:20%;
    right:5%;
    font-size:4.3rem;
    display:none;
}

@media (min-height:800px){
    .logoFit{
        height:8vh;
    }
    .item{
        font-size:2.3rem;
    }
    .navIcon{
        font-size:1.9rem;
    }

}

@media (orientation:portrait){
    .Navigation{
        background-color:black;
        overflow:hidden;
        height:10vh;
        transition:0.5s ease;
    }
    .hammerDown{
        color:white;
        display:block;
        z-index:3;
    }
    .hammerDown.mobileNav{
        top:4%;
        right:5%;
        color:white;
    }
    .list2{
        margin-top:10vh;
        opacity:0;
        transform:translateY(-50%);
        transition: 0.5s ease;
    }
    .list2.mobileNav{
        display:flex;
        flex-direction:column;
        background:transparent;
        opacity:1;
        transform:translateY(0);
        transition:0.5s ease;
    }
    .item{
        font-size:2.2rem;
        display:flex;
        flex-direction:row;
        justify-content:center;
        border-top:1px solid white;
    }
    .navIcon{
        margin-right:5%;
        margin-top:1%;
        font-size:2rem;
    }
    .navText{
        font-size:2rem;
    }
    .active{
        border-bottom:none;
    }
}
