.projectContainer{
    width:28vw;
    aspect-ratio: 15/14;
    border-radius: 5%;
    background-color:white;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    box-shadow: 0 0 0.3rem 0.4rem slategrey;
    position:relative;
    opacity:0;
    transform:translateY(40%);
    transition:0.4s;
    margin-left:auto;
    margin-bottom:8%;
    margin-right:auto;
    border-style:solid;
    border-color:white;
    border-width:0.1rem;
    grid-column: span 1;

    @media(orientation:portrait){
        width:auto;
        height:40vh;
        aspect-ratio:10/9;
        margin-left:auto;
        margin-right:auto;
        overflow:none;
        border-radius:0%;
    }
}

.projectContainer::-webkit-scrollbar {
    display: none; 
  }

.projectContainer.projFirst{
    opacity:1;
    transform:translateY(0);
}



.imageCont{
    background:black;
    flex-basis:0;
    flex-grow:6;
    overflow:hidden;
    border-bottom:solid 1px black;
    position:relative;
}

.lightEffect{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(to top,rgba(50, 170, 191, 0.4),rgba(184, 201, 225, 0.2));
    display:none;
}

.proj-Image{
    max-width:100%;
    object-fit:scale-down;
    filter:grayscale(90%);
}


.infoCont{
    background:transparent;
    flex-basis:0;
    flex-grow:5;
}
.infoCont h1{
    text-align:center;
    font-size:1.3rem;
    font-family:Poppins;
    padding: 2% 0 2% 0;
    @media(orientation:portrait){
        font-size:1.7rem;
    }
}


.repLink{
    position:absolute;
    border-radius:38%/100%;
    padding: 1% 4% 1% 4%;
    bottom:5%;
    right:8%;
    background:black;
    color:white;
    border-style:solid;
    border-width:0.15vw;
    border-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.proj-chain-image{
    margin-right:4%;
    margin-top:2%;
}
.repLink:hover{
    border-color:black;
    color:black;
    background:white;
    cursor:pointer;
    transition:0.2s ease-in;
}

.proj-info-text{
    color:black;
    font-size:0.75rem;
    line-height:130%;
    font-family:Poppins;
    margin-left:3%;
    margin-right:3%;
    text-align:justify;
    @media(orientation:portrait){
        font-size:1rem;
    }
}
.tagsCont{
    background:transparent;
    flex-basis:0;
    flex-grow:2;
    margin-bottom:7%;
    padding-top:1%;
    padding-bottom:1%;
}
.tagsCont p{
    margin-left:3.5%;
    font-size:0.7rem;
    text-align:left;
    color:black;
    font-family:Poppins;

    @media(orientation:portrait){
        font-size:0.9rem;
    }
}

.projectContainer:hover{
    transform:translateY(-5%);
    box-shadow: 0px 5px 0.3rem 0.4rem cyan;
    .lightEffect{
        transition:0.2s;
        display:block;
    }
}
