*{
    margin:0px;
    padding:0px;
}

.Main{
    min-height:100vh;
}

.contactGrid{
    display:grid;
    grid-template-columns: repeat(2,1fr);

    @media (max-width:800px){
        grid-template-columns: repeat(1,1fr);
    }
}

